/* -----------------------------------------------------------------------

	arquivo usado para alterar CSS diferente do bootstrap

----------------------------------------------------------------------- */
/* Body and structure
-------------------------------------------------- */

body {
    position: relative;
    padding-top: 50px;
}

/* Footer
-------------------------------------------------- */

.footer {
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}
.footer p {
    margin-bottom: 0;
    color: #777;
}
.footer-links {
    margin: 10px 0;
}
.footer-links li {
    display: inline;
    margin-right: 10px;
}

/* Breadcrumb
-------------------------------------------------- */
.breadcrumb {
  padding: 8px 15px;
  margin: 0 0 20px;
  list-style: none;
  background-color: #f5f5f5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.breadcrumb > li {
  display: inline-block;
  *display: inline;
  text-shadow: 0 1px 0 #ffffff;
  *zoom: 1;
}

.breadcrumb > li > .divider {
  padding: 10 5px;
  color: #ccc;
}

.breadcrumb > .active {
  color: #999999;
}
